.ActivityPanel {
    background-color: var(--background-primary-color);
    grid-area: activity;
    transition: width 0.2s ease-in-out;

    padding-left: 24px;
}

.ActivityPanel_Info {
    padding-top: 30px;
}

.ActivityPanel_Content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.ActivityPanel_Empty {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 500;
}
