.NavPanel {
    width: 240px;
    background-color: var(--background-primary-color);
    grid-area: nav;
    padding: 18px 18px 0 18px;
}

.CurrentUser_LoginBtn {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    background-color: var(--accent-color) !important;
    color: #fff !important;
    font-weight: 500;
    font-size: 15px;
    border: none;
    transition: all 0.2s ease-in-out;
    justify-content: center;

    &:hover {
        background-color: var(--accent-color);
        opacity: 0.8;
        cursor: pointer;
    }
}

.CurrentUser {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.CurrentUser_Info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.CurrentUser_Img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.CurrentUser_Text {
    display: flex;
    flex-direction: row;
    font-size: 15px;

    p {
        font-weight: 500;
        color: var(--text-primary-color);
    }

    p:nth-child(2) {
        color: var(--text-secondary-color);
    }
}

.CurrentUser_DropdownButton {
    padding: 0 !important;
    border-radius: 50%;
}

.CurrentUser_Chevron {
    font-size: 30px;
    border-radius: 50%;
    color: var(--icon-secondary-color);
    padding: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--background-secondary-color);
        color: var(--accent-color);
        cursor: pointer;
    }
}

#currentUserDropdown {
    left: 220px;

    :last-child:hover {
        background-color: #cb0101;
    }
}

.NavPanel_PageList {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.NavPanel_PageItem {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    color: var(--text-tertiary-color);
    text-decoration: none;

    &:hover {
        color: var(--text-primary-color) !important;
        cursor: pointer;
    }

    * {
        font-size: 15px;
        font-weight: 500;
        margin-left: 10px;
    }
}

.NavPanel_PageItem_Icon {
    margin-bottom: -1px;
    font-size: 20px;
}

.NavPanel_PageItem_Active {
    position: absolute;
    left: -10px;
    width: 5px;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 5px;
}

.Playlists_Divider {
    width: auto;
    height: 1px;
    background-color: var(--text-tertiary-color);
    margin: 15px 10px;
    border-radius: 50%;
}

.Playlists_Header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 10px;
    color: var(--text-tertiary-color);
    font-size: 20px;

    h3 {
        margin: 0;
        color: var(--text-tertiary-color);
    }

    svg {
        transition: all 0.2s ease-in-out;

        &:hover {
            color: var(--text-primary-color);
            cursor: pointer;
        }
    }
}

.Playlists_Container {
    height: 100%;
    overflow-y: auto;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;

    * {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all 0.2s ease-in-out;
        color: var(--text-tertiary-color);
        margin: 0;
    }

    *:hover {
        color: var(--text-primary-color);
        cursor: pointer;
    }
}

.PlaylistImportButton {
    justify-content: center;
    border-radius: 10px !important;
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--accent-color);
        cursor: pointer;
    }
}

.PlaylistCreateButton {
    color: var(--text-tertiary-color) !important;
    font-size: 15px;
    transition: all 0.2s ease-in-out;

    &:hover {
        color: var(--text-primary-color) !important;
        cursor: pointer;
    }
}

.OR_Divider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.OR_Divider_Line {
    width: 100%;
    height: 1px;
    background-color: var(--text-tertiary-color);
    margin: 0 10px;
    border-radius: 50%;
}
