@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    color: aqua;
}

body {
    background-color: #333;
    font-family: 'Verdana';
    color: white;
}

#root {
    height: 100vh;
    width: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #374151;
}

::-webkit-scrollbar-thumb {
    background: #3484fc;
}

::-webkit-scrollbar-thumb:hover {
    background: #0c6cfc;
}
