@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-white dark:bg-slate-900;
    font-family: 'Verdana';
    color: white;
    --nav-height: 50px;
    padding-top: var(--nav-height);
}

h1 {
    color: aqua;
}

#root {
    height: 100vh;
    width: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #3484fc;
    border-radius: 10px;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}
