.MiniPlayer {
    width: 100%;
    height: 240px;
    display: flex;
    user-select: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.MiniPlayer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    backdrop-filter: blur(20px) brightness(0.5);
}

.MiniPlayer_Exit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    font-size: 25px;
    color: #fff;
    z-index: 1;

    &:hover {
        cursor: pointer;
        background-color: #00000060;
    }
}

.MiniPlayer_Track {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-top: 49px;
    z-index: 1;

    p {
        margin: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 21px;
        color: #FFFFFF;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    p:nth-child(2) {
        font-size: 12px;
        line-height: 18px;
    }
}

.MiniPlayer_Icon {
    height: 82px;
    width: auto;
    padding-right: 15px;
    z-index: 1;
}

.MiniPlayer_Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    height: 100%;
    gap: 10px;
    max-width: 200px;
    z-index: 1;
}

.MiniPlayer_Actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    gap: 28px;
    margin-bottom: -30px;
}

.MiniPlayer_Controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: 20px;
    width: 300px;
    height: 28px;
    z-index: 1;
}

.MiniPlayer_Control {
    font-size: 20px;
    transition: all 0.1s ease-in-out;
    color: #FFFFFF;
    z-index: 1;
    height: auto;

    &:active {
        scale: 0.9;
    }

    &:hover {
        scale: 1.1;
    }
}

.MiniPlayer_Progress {
    height: 12px;
    padding-bottom: 6px;
    width: 90%;
    z-index: 1;
    margin-bottom: 15px;

    p {
        margin: 0;
    }
}

.MiniPlayer_ProgressBar {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: row;

    p {
        color: #fff;
    }
}

.MiniPlayer_Volume {
    display: inline-flex;
}

.MiniPlayer_Volume:hover .MiniPlayer_Volume_Slider {
    display: block;
}

.MiniPlayer_Volume_Slider {
    display: none;
    position: absolute;
    width: 150px;
    top: 140px;
    left: 20px;
    background-color: #1A1A1A;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #000000;
}

.MiniPlayer_Volume_Slider::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60px;
    border: 10px solid transparent;
    border-top-color: #1A1A1A;
}
