.Track {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    border-radius: 10px;

    &:hover {
        background-color: var(--background-primary-color);
    }
}

.Track_Info {
    display: flex;
    flex-direction: row;
    gap: 20px;

    justify-content: space-between;
}

.Track_Icon {
    max-width: 67.5px;
    max-height: 67.5px;
    object-fit: cover;
    border-radius: 7px;
}

.Track_Text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin: 0;

        font-size: 16px;
        line-height: 24px;
        color: var(--text-primary-color);
    }

    p:nth-child(2) {
        font-size: 14px;
        line-height: 21px;
        color: var(--text-secondary-color);
    }
}

.Track_Interact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 36px;

    padding-right: 24px;
    color: var(--text-secondary-color);

    p {
        color: var(--text-secondary-color);
    }
}
