.Elixir {
    @apply flex flex-col p-5 w-full h-full;
}

.Elixir_Title {
    @apply flex flex-row w-full gap-4 items-center;

    p {
        color: var(--text-primary-color);
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        margin: 0;
        width: 50px;
    }

    button {
        @apply flex flex-row gap-2 items-center justify-center;

        height: 28px;
        font-size: 16px;

        margin: 0;
        padding: 5px;
        border-radius: 5px;

        border: transparent;
        color: var(--text-primary-color);
        background-color: var(--accent-color);

        &:hover {
            cursor: pointer;
        }
    }
}

.Elixir_ServerList {
    @apply flex flex-row mt-[35px] pb-4 pr-5;

    max-width: 100%;
    flex-wrap: wrap;
    gap: 5px;
}

.Elixir_Server {
    @apply flex flex-col p-2 mb-[5px] items-center;

    background-color: var(--background-primary-color);
    transition: background-color 0.25s ease-in-out;

    border-radius: 10px;

    width: 128px;
    max-height: 150px;
    justify-content: center;

    gap: 5px;

    img {
        @apply flex h-[100px] w-[100px];

        border-radius: 100px;
        text-align: center;
        line-height: 100px;

        color: var(--text-primary-color);
    }

    p {
        @apply text-center;
        overflow-wrap: anywhere;
        margin: 0;
    }

    &:hover {
        @apply cursor-pointer;
    }
}

.Elixir_BlankServer {
    @apply flex;

    width: 100px;
    height: 100px;

    align-items: center;
    justify-content: center;

    border-radius: 100px;
    background-color: #313338;

    p {
        @apply text-3xl;
        height: auto;
    }

    filter: alpha(opacity=50);
}
