.Playlist {
    overflow-x: hidden;
    width: 100%;
}

.Playlist_Details {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    p {
        margin: 0;
    }

    .icon {
        width: 230px;
        height: 230px;
        aspect-ratio: 1;
        border-radius: 15px;
    }

    .info {
        width: calc(100% - 250px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 20px;

        .info_title {
            font-size: max(20px, 3.2vw);
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            line-height: normal;
        }

        .info_description {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            color: var(--text-secondary-color);
            margin-bottom: 10px;
        }
    }
}

.Playlist_Author {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 4px;
    margin-top: 5px;
    margin-bottom: 5px;

    .profile {
        width: 24px;
        height: 24px;
        border-radius: 20px;
    }

    .username {
        color: var(--text-secondary-color);
    }
}

.Playlist_Actions {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-top: 10px;

    .action {
        width: 48px;
        height: 48px;
        font-size: 28px;
        justify-content: center;
        background-color: var(--accent-color);
        color: #fff;
        transition: all 0.2s ease-in-out;

        &:hover {
            filter: brightness(0.9);
            cursor: pointer;
        }
    }

    .action:first-child {
        svg {
            margin-left: 4px;
        }
    }
}

.Playlist_Interact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
    width: 200px;

    .edit {
        height: 26px;
        border-radius: 5px;
        font-size: 12px;
        line-height: 18px;
        color: #fff;
        background-color: var(--accent-color);
        transition: all 0.2s ease-in-out;

        &:hover {
            filter: brightness(0.9);
            cursor: pointer;
        }
    }

    .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100px;

        button {
            height: 22px;
            font-size: 22px;
            background-color: transparent;
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(0.9);
                cursor: pointer;
            }
        }
    }
}

.Playlist_Tracks {
    margin-top: 24px;
    overflow-x: auto;
    overflow-y: hidden;
}
