.Settings {
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 1000px;
    margin: auto;
    gap: 20px;
    padding: 20px;
}

.Setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20px;
}

.Setting_Text {
    display: flex;
    flex-direction: column;
    gap: 10px;

    * {
        font-size: 15px;
        margin: 0;

        &:nth-child(2) {
            font-size: 13px;
            color: var(--text-secondary-color);
        }

        &:nth-child(3) {
            font-size: 13px;
            color: var(--text-secondary-color);
        }
    }
}

.Setting_Box {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 150px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 5px !important;
    padding: 7px !important;
    transition: all 0.1s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    svg {
        font-size: 20px;
    }
}

.Setting_Input {
    border: none;
    color: var(--text-primary-color);
    background-color: var(--background-primary-color);
}

.Setting_Button {
    justify-content: center;
    background-color: var(--accent-color) !important;
    transition: all 0.1s ease-in-out;
}

.Settings_Dropdown {
    margin-top: 10px;
}

.Settings_Category {
    background-color: var(--background-primary-color);
    padding: 5px 10px 5px 10px;

    border-radius: 5px;

    span {
        width: 100%;

        font-size: 15px;
        color: var(--text-primary-color);
    }
}

.Settings_Category_Content {
    margin-top: 15px;

    display: flex;
    flex-direction: column;

    gap: 20px;
}

.Settings_Color_Input {
    padding: 2px 5px 2px 5px;
    color: var(--text-primary-color);
    background-color: var(--background-secondary-color);

    border: none;

    &:active {
        border: none;
    }

    &:focus {
        outline: none;
    }
}

.Settings_Color_Picker {
    position: absolute;
    margin: 5px 0 0 0;
}

.Settings_Field_color {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 1800px) {
    .Settings {
        width: 90%;
    }
}
