@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: GAU_CUBE;
    src: url(/GAU_CUBE.TTF);
}

@font-face {
    font-family: GAU_CUBE_R;
    src: url(/GAU_CUBE_R.TTF);
}

body {
    @apply bg-white dark:bg-[#292F36] transition-all;
    @apply bg-gradient-to-t from-indigo-500/20 to-[#292F36];

    font-family: "Verdana";
    --nav-height: 13vh;
    padding-top: var(--nav-height);
    * {
        @apply transition-all;
    }
}

h1 {
    color: aqua;
}

#root {
    height: 100vh;
    width: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    display: none;
    width: 6px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c;
}

::-webkit-scrollbar-thumb {
    background: #3484fc;
    border-radius: 10px;
}

.titlebar {
    height: 30px;
    background: #1f2838;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.titlebar-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.titlebar-button:hover {
    background: #3484fc;
}

.nav--hidden {
    transform: translateY(calc(-1 * var(--nav-height)));
    box-shadow: none;
}

.ContentContainer {
    padding-bottom: 20%; 
    overflow-y: auto; 
    max-width: 1000px;
    margin: auto;
}

.SearchResults {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #435170;
}

.SearchResults:hover {
    background-color: #272d41 !important;
}

.controls {
    @apply p-2 fixed inset-x-0 bottom-0 bg-slate-600 dark:bg-slate-800 transition-all;
    @apply bg-gradient-to-r from-indigo-900/20 to-black;

    z-index: 99;
    .control {
        $p: &;
        @apply ml-4 py-2 px-4 transition-all rounded-full hover:bg-slate-800 dark:hover:bg-slate-300 fill-blue-700;
        svg {
            path {
                @apply transition-all text-blue-300 dark:text-white;
            }
        }
        &:hover {
            svg {
                path {
                    @apply dark:text-black text-white;
                }
            }
        }
    }
}

.navbar {
    @apply bg-black flex flex-wrap items-center justify-between h-16 p-6 fixed w-full transition-all;
    @apply bg-gradient-to-r from-indigo-500/20 to-black;
    margin-top: 28px;
}

.titleLogo {
    @apply bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 to-purple-500 ml-2;
    font-family: GAU_CUBE_R;
}
