@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*
 Dark (default) theme colors
 */
html {
    --background-primary-color: #1A1A1A;
    --background-secondary-color: #262626;

    --icon-primary-color: #FFFFFF;
    --icon-secondary-color: #999999;

    --text-primary-color: #FFFFFF;
    --text-secondary-color: #A6A6A6;
    --text-tertiary-color: #999999;

    --accent-color: #3484FC;
}

/*
 Light theme colors
 */
html[data-theme="light"] {
    --background-primary-color: #EEEEEE;
    --background-secondary-color: #FAFAFA;

    --icon-primary-color: #656565;
    --icon-secondary-color: #838383;

    --text-primary-color: #656565;
    --text-secondary-color: #A6A6A6;
    --text-tertiary-color: #838383;

    --accent-color: #ED7D64;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    * {
        font-family: 'Poppins', sans-serif;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--accent-color);
    border-radius: 10px;
}

.AppContainer {
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-areas:
        "nav top top"
        "nav main main"
        "control control control";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    overflow: hidden;
    user-select: none;
}

.MainView {
    grid-area: main;
    background-color: var(--background-secondary-color);
    overflow: auto;
}

.BasicButton {
    background-color: var(--background-primary-color);
    color: var(--text-primary-color);
    border: none;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 5px;

    &:active {
        scale: 0.9;
    }
}

.DropdownContent {
    opacity: 1;
    height: 0;
    overflow: hidden;
    transform: translateY(20%);
    transition: all 0.1s ease-in-out;
    box-shadow: #00000070 0 0 10px 0;
    position: absolute;
    z-index: 1;
    min-width: 200px;

    * {
        color: var(--text-primary-color);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        background-color: var(--background-secondary-color);
        font-size: 15px;
        transition: all 0.2s ease-in-out;
    }

    *:hover {
        cursor: pointer;
        color: #fff;
        background-color: var(--accent-color);
    }
}

.show {
    opacity: 1;
    height: auto;
    transition: all 0.1s ease-in-out;
    transform: translateY(0);
    border: var(--accent-color) 1px solid;
}
