.controls {
    @apply p-2 fixed inset-x-0 bottom-0 bg-black transition-all;
    @apply bg-gradient-to-r from-black via-indigo-900/30 to-black;

    z-index: 99;
    .control {
        $p: &;
        @apply ml-4 py-2 px-4 transition-all rounded-full hover:bg-slate-800 dark:hover:bg-slate-300 fill-blue-700 border-white;
        svg {
            vertical-align: middle;
            path {
                @apply transition-all text-blue-300 dark:text-white;
            }
        }
        &:hover {
            svg {
                path {
                    @apply dark:text-black text-white;
                }
            }
        }
    }
}

#controls-components {
    margin: 0 auto;
    padding: 10px;
    display: flex;
    width: fit-content;
}

#VolumeControls {
    position: absolute;
    right: 30px;
    display: flex;

    input {
        accent-color: #2980b9;
    }
}

.current-track {
    position: fixed;
    bottom: 45px;
    vertical-align: bottom;
    z-index: 10000;

    img {
        max-width: 130px;
        box-shadow: black 0 0 10px;
        &:hover {
            transform: scale(1.1);
        }

        padding-left: 10px;
    }
}

#current-track-text {
    position: absolute;
    font-family: system-ui;
    margin-left: 140px;
    left: 0;
    width: 25%;
    margin-top: -10px;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        filter: brightness(0.5);
    }
}

@function makelongshadow($color, $size) {
    $val: 5px 0 0 $size $color;

    @for $i from 6 through 150 {
        $val: #{$val}, #{$i}px 0 0 $size #{$color};
    }

    @return $val;
}

#VolumeSlider {
    background: transparent;
    border: none;
    width: 150px;
    padding: 0;
    overflow: hidden;

    &:focus {
        outline: none;
        box-shadow: none;
    }

    &::-webkit-slider-runnable-track {
        height: 2px;
        background: #2980b9;
        border-radius: 2px;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #2980b9;
        cursor: pointer;
        margin-top: -6.5px;
        box-shadow: makelongshadow(#cbcbcb, -6.5px);
    }
}
