.controls {
    @apply p-2 fixed inset-x-0 bottom-0 bg-black transition-all;
    @apply bg-gradient-to-r from-black via-indigo-900/30 to-black;

    z-index: 99;
    .control {
        $p: &;
        @apply ml-4 py-2 px-4 transition-all rounded-full hover:bg-slate-800 dark:hover:bg-slate-300 fill-blue-700 border-white;
        svg {
            vertical-align: middle;
            path {
                @apply transition-all text-blue-300 dark:text-white;
            }
        }
        &:hover {
            svg {
                path {
                    @apply dark:text-black text-white;
                }
            }
        }
    }
}

#controls-components {
    margin: 0px auto;
    padding: 10px;
    display: flex;
    width: fit-content;
}

#VolumeControls {
    position: absolute;
    right: 30px;
    input {
        accent-color: #2980b9;
    }
}

.current-track {
    position: fixed;
    bottom: 45px;
    vertical-align: bottom;
    z-index: 10000;

    img {
        max-width: 130px;
        box-shadow: black 0px 0px 10px;
        &:hover {
            transform: scale(1.2);
        }
    }
}

#current-track-text {
    position: absolute;
    font-family: system-ui;
    margin-left: 140px;
    left: 0;
    width: 30%;
    margin-top: -10px;

    h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    h4 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        filter: brightness(0.5);
    }
}
