.controls {
    @apply p-2 fixed inset-x-0 bottom-0 bg-black transition-all;
    @apply bg-gradient-to-r from-black via-indigo-900/30 to-black;

    z-index: 99;
    .control {
        $p: &;
        @apply ml-4 py-2 px-4 transition-all rounded-full hover:bg-slate-800 dark:hover:bg-slate-300 fill-blue-700 border-white;
        svg {
            path {
                @apply transition-all text-blue-300 dark:text-white;
            }
        }
        &:hover {
            svg {
                path {
                    @apply dark:text-black text-white;
                }
            }
        }
    }
}

#controls-components {
    margin: 0px auto;
    padding: 10px;
    display: flex;
    width: fit-content;
}

#VolumeControls {
    position: absolute;
    right: 30px;
}
