.navbar {
    @apply bg-black flex flex-wrap items-center justify-between h-16 p-6 fixed w-full transition-all;
    @apply bg-gradient-to-r from-indigo-900/25 to-black;

    margin-top: 28px;
}

#Title {
    @apply bg-gradient-to-r bg-clip-text text-transparent from-indigo-500 to-purple-500 ml-2;
    font-family: GAU_CUBE_R;
}

#NavbarContainer {
    display: inline-flex;
}

#NavbarLeft {
    position: absolute;
    display: inline-flex;
    right: 10px;
    margin-top: -8px;
}

#SearchInput {
    padding: 6px;
    border: none;
    font-size: 17px;
    color: white;
    font-family: sans-serif;
    background-color: #272d41;
    &:focus {
        outline: none;
    }
}

#SearchIcon {
    color: white;
    padding: 6px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #3484fc;
    width: 38px;
    height: 38px;
    svg {
        vertical-align: middle;
    }
}

.SettingsButton {
    margin-right: 20px;
    svg {
        color: cornflowerblue;
        width: 20px;
        height: 20px;
    }
    &:hover {
        animation: spin 0.5s linear infinite;
        filter: brightness(0.7);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#NavPfp {
    width: 40px;
    height: 40px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #3484fc;
    margin-right: 10px;
    margin-left: 20px;

    &:hover {
        scale: 1.2;
    }
}

#NavLoginButton {
    font-family: "Verdana", sans-serif;
    background-color: #3484fc;
    padding: 7px 14px 7px 14px;
    margin-right: 5px;
    margin-left: 20px;
    border-radius: 5px;

    &:hover {
        filter: brightness(0.8);
    }
}

#NavUserDropdown {
    position: absolute;
    right: 0;
    margin-top: 50px;

    #NavLogout:hover {
        background-color: #992123;
    }
}