.title {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-t from-purple-900 to-cyan-600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#entry {
    @apply text-transparent bg-clip-text;
    @apply bg-gradient-to-t from-purple-900 to-cyan-600;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.PlaylistsGrid {
    padding: 20px;
    display: flex;
    flex-flow: row wrap;
    column-gap: 20px;
    row-gap: 20px;

    :hover {
        filter: brightness(0.9);
        cursor: pointer;
        color: white
    }
}

.PlaylistCards {
    background: linear-gradient(90deg, #181c3b 0%, #333479 100%);
    flex-direction: row;

    img {
        width: 150px;
        height: 70px;
        object-fit: cover;
        overflow: hidden;
    }
}

.PlaylistCardText {
    div {
        margin-top: 6px;
        width: 250px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.playlistCheckBoxModal {
    display: flex;
    margin-top: 20px;
    gap: 20px;

    p {
        font-size: 20px !important;
        margin-top: 0 !important;
    }
}

#NoPlaylistMessage {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;

    div {
        text-align: left;
    }
}

#NoTracksMessage {
    font-size: 20px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    &:hover {
        background-color: transparent;
    }
}

#AddPlaylistButton {
    color: #000000;
    background: linear-gradient(90deg, #d9d9d9 0%, #c5c5c5 100%);
    padding: 10px 16px 10px 16px;
    border-radius: 100%;
    box-shadow: black 5px 5px 10px;

    &:hover {
        scale: 1.1;
    }
}

.PlaylistContainer {
    font-family: "Verdana", sans-serif;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 900px;
    height: 100%;
}

.PlaylistHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 20px;
    margin: 40px 20px 80px 20px;
    height: 100px;

    .PlaylistHeaderBG {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        filter: brightness(0.3) blur(4px);
    }

    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        overflow: hidden;
        z-index: 1100;
    }

    .PlaylistHeaderInfo {
        display: flex;
        flex-direction: column;
        padding: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        z-index: 1000;
        margin-left: 10px;

        h2 {
            font-size: 25px;
            color: #fff;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        p {
            font-size: 18px;
            color: #b4b3b3;
            margin: 0;
        }
    }

    #PlaylistSettingsButton {
        position: absolute;
        z-index: 100000;
        right: 0;
        margin-right: 20px;
        display: none;

        :hover {
            filter: brightness(0.7);
        }
    }
}

.PlaylistIcon:hover {
    transform: scale(1.4);
}

.PlaylistContent {
    margin: 0 auto;
    width: 800px;
    background: #1e293b;

    .PlaylistTrack {
        display: flex;
        flex-direction: row;
        padding: 10px 5px;
        width: 800px;
        height: fit-content;

        &:hover {
            background: #253244;
        }

        a {
            align-self: center;
        }

        img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            overflow: hidden;
        }

        #statusButton {
            margin-right: 10px;
            margin-left: 5px;

            svg {
                height: 20px;
            }

            :hover {
                filter: brightness(0.8);
            }
        }

        .PlaylistTrackText {
            display: flex;
            flex-direction: column;
            padding: 10px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-left: 10px;

            h2 {
                font-size: 15px;
                color: #fff;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            p {
                font-size: 14px;
                color: #9b9b9b;
                margin-top: 5px;
            }

            .PlaylistTrackButtons {
                display: flex;
                flex-direction: row;
                font-size: 15px;
                color: #b9b9b9;
                gap: 20px;
                margin-top: 12px;
            }
        }
    }
}

.PlaylistTrackIcon:hover {
    filter: brightness(0.7);
    cursor: pointer;
}

.PlaylistTrackTitle:hover {
    color: #3484fc !important;
    cursor: pointer;
}