.SearchResult {
    @apply flex flex-wrap items-center my-0 mx-auto p-5 overflow-hidden;
    font-family: "Verdana", sans-serif;
    font-size: 1rem;

    &:hover {
        background-color: #272d41 !important;
    }
}

.TrackInfo {
    align-self: center;
    margin-left: 20px;

    p {
        font-size: 0.9rem;
    }
}

#figure {
    display: inline-flex;
    vertical-align: bottom;
}

#statusButton {
    align-self: center;
    margin-right: 20px;
}

#image {
    max-width: 150px;

    &:hover {
        cursor: pointer;
        filter: brightness(0.7);
    }
}

#statusButtonImage svg {
    transform: scale(1.2);

    &:hover {
        cursor: pointer;
        filter: brightness(0.7);
    }
}

.TrackOptions {
    margin-top: 7.5px
}

.TrackOptionsButtons {
    margin-right: 20px;

    &:hover {
        filter: brightness(0.7);
    }
}