td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="row"] {
    background-color: #d7d9f2;
}

.SettingsOptions {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
}