p {
    color: var(--text-primary-color);
}

h1 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 80px;
    line-height: 120px;
    margin: 0;
}

h2 {
    color: var(--text-primary-color);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
}
